$base-font-size: 18px;
$base-line-height: 1.3;
$base-font-color: #000;

// mesurements
$site-width: 1180px;
$gutter: 20px;

// import module based settings
@import '../_components/**/*-settings.scss';
