---
title: Flyingfocus
---

= example 'Description' do
	- example :desc do
		:markdown
			Instead of styling every elements focus individually, a singular element will indicate the current document focus. The transitional animation helps users follow the focus.

			Visual users rather don't bother with the current focus (they're focus is where the mouse or finger points), which is why we hide the flying focus as soon as we notice any such user input.

