---
title: Visuallyhidden
---

- example 'Example' do

	- example :desc do
		%p You need a screen reader (or look at the source code) to see anything.

	%h1.visuallyhidden I am only visible for screen reader users

