@charset "UTF-8";
/* stylelint-disable */
/* stylelint-enable */
/** Hide only visually, but have it available for screen readers: See http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
/* stylelint-disable */
* { font: inherit; color: inherit; line-height: inherit; text-decoration: inherit; margin: 0; padding: 0; }

*, *:before, *:after { box-sizing: border-box; }

html { color: #000; background: #fff; }

figure { -webkit-margin-start: 0; -webkit-margin-end: 0; margin-left: 0; margin-right: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

del, ins { text-decoration: none; }

li { list-style: none; }

caption, th { text-align: left; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; text-decoration: none; font-variant: normal; }

sup { vertical-align: baseline; }

sub { vertical-align: baseline; }

iframe { border: 0; }

legend { color: inherit; *color: #000; }

button, input[type='button'], input[type='submit'] { background: transparent; -webkit-appearance: button; cursor: pointer; border-radius: 0; border: 0; }

button[disabled], input[disabled] { cursor: default; }

input[type='search'] { -webkit-appearance: textfield; }

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440 */
audio, canvas, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* stylelint-enable */
html { width: 100%; font-size: 16px; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; background-color: #fff; }

@media (max-width: 1291px) { html { font-size: 13.6px; } }

@media (max-width: 1100px) { html { font-size: 12.8px; } }

@media (max-width: 875px) { html { font-size: 12px; } }

@media (max-width: 575px) { html { font-size: 11.2px; } }

body { font-family: "Helvetica Neue", "Helvetica", sans-serif; font-size: 18px; line-height: 1.3; overflow-x: hidden; }

/* stylelint-disable selector-no-vendor-prefix */
::-moz-selection { text-shadow: none; }

::selection { text-shadow: none; }

/* stylelint-enable */
body, input, select, button, textarea { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.logo { text-decoration: none; }

.logo:before { content: '← '; }

a:active { outline: none; }

*:focus { outline: none; }

abbr { border-bottom: 1px dotted gray; }

p sup { position: relative; top: -0.75ex; }

p sub { position: relative; top: 0.5ex; }

button { cursor: pointer; }

.l-clearfix:before, .l-clearfix:after { content: ''; display: table; }

.l-clearfix:after { clear: both; }

/* stylelint-disable */
/* prettier-ignore */
.Paragraph { border: 1px solid #ddd; padding: 10px; }

.Paragraph.red { color: red; }

/* stylelint-disable selector-no-id */
#FlyingFocus { position: absolute; margin: 0; top: -100px; background: transparent; transition-property: left, top, width, height, opacity; transition-timing-function: cubic-bezier(0, 0.2, 0, 1); visibility: hidden; pointer-events: none; display: none; }

#FlyingFocus.FlyingFocus-visible { visibility: visible; z-index: 10000000; display: block; }

#FlyingFocus::after { content: ''; position: absolute; top: -9px; left: -9px; bottom: -9px; right: -9px; border-radius: 3px; box-shadow: 0 0 54px 0px rgba(0, 0, 0, 0.2), 0 0 2px 2px rgba(0, 10, 20, 0.1); border: 1px solid rgba(0, 10, 20, 0.5); }

#FlyingFocus::before { content: ''; position: absolute; top: -8px; left: -8px; bottom: -8px; right: -8px; border-radius: 3px; box-shadow: 0 0 2px rgba(255, 255, 255, 0.9) inset; border: 1px solid rgba(255, 255, 255, 0.8); }

/* stylelint-enable */
.visuallyhidden { position: absolute; border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; width: 1px; white-space: nowrap; /* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */ }

@font-face { font-family: 'Bembo'; src: local("Bembo"), url("../fonts/c94b1030-cc7a-4538-9481-91e2a539d44b.woff2") format("woff2"), url("../fonts/40023eb7-1ce9-487f-9c94-2dd2ae7022d3.woff") format("woff"); font-style: italic; font-display: swap; }

@font-face { font-family: 'Helvetica Neue LT'; src: local("Helvetica Neue"), local("Helvetica Neue LT"), url("../fonts/3dac71eb-afa7-4c80-97f0-599202772905.woff2") format("woff2"), url("../fonts/34e0e4c0-c294-49bb-9a8e-1b2cafd54e32.woff") format("woff"); font-weight: normal; font-display: swap; }

[data-icon='cross']:after { background: url("../img/icons/global/1x--sprite.png?2019723") no-repeat 0px 0px; width: 32px; height: 32px; content: ''; position: absolute; top: 50%; margin-top: -16px; left: 50%; margin-left: -16px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { [data-icon='cross']:after { background: url("../img/icons/global/2x--sprite.png?2019723") no-repeat 0px 0px; background-size: 65px 32px; } }

.Icon[data-icon='cross'] { padding: 0 16px; height: 32px; margin: 0; }

[data-icon='search']:after { background: url("../img/icons/global/1x--sprite.png?2019723") no-repeat -34px 0px; width: 32px; height: 32px; content: ''; position: absolute; top: 50%; margin-top: -16px; left: 50%; margin-left: -16px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { [data-icon='search']:after { background: url("../img/icons/global/2x--sprite.png?2019723") no-repeat -33px 0px; background-size: 65px 32px; } }

.Icon[data-icon='search'] { padding: 0 16px; height: 32px; margin: 0; }

.Icon.inline { display: inline; display: -webkit-inline-box; /* stylelint-disable-line */ min-height: 1ex; letter-spacing: -1ex; text-decoration: none; position: relative; }

.Icon.inline:before { content: ''; }

.Icon:not(.inline) { box-sizing: border-box; display: inline-block; position: relative; letter-spacing: -1ex; text-indent: -9999px; text-decoration: none; line-height: 1; border: none; outline: none; }

[data-picto] { display: inline-block; position: relative; height: 1.2ex; font-size: 16px; }

[data-picto] > svg { height: 0; position: absolute; top: 50%; transform: translateY(-50%); overflow: visible; display: block; width: 100%; fill: #000000; }

@supports (display: inline-flex) { [data-picto] > svg { position: relative; top: 0; transform: none; } }

[data-picto].white > svg { fill: #ffffff; }

@supports (display: inline-flex) { .Icon[data-picto], .Icon:not(.inline)[data-picto], [data-picto] { display: inline-flex; align-items: center; } }

@media screen and (-ms-high-contrast: active) { [data-picto] > svg { stroke: green; } }

[data-picto='twitter'] { width: 1.5em; }

[data-picto='twitter'] > svg { height: 1.5em; }

.richtext table { border-collapse: collapse; border-spacing: 0; }

.richtext p { margin-top: 1em; margin-bottom: 1em; }

.richtext ul { margin-left: -30px; margin-left: -1.66667rem; display: block; margin: 1em 0; }

.richtext ul > li { padding-left: 30px; padding-left: 1.66667rem; position: relative; list-style-type: none; margin-bottom: 1.5ex; }

.richtext ul > li:before { position: absolute; left: 0; display: inline-block; content: '\2013'; }

.richtext ol { margin-left: -30px; margin-left: -1.66667rem; display: block; display: block; counter-reset: ol--counter; /*html*/ margin: 1em 0; }

.richtext ol > li { padding-left: 30px; padding-left: 1.66667rem; position: relative; list-style-type: none; margin-bottom: 1.5ex; }

.richtext ol > li:before { position: absolute; left: 0; display: inline-block; content: '\2013'; }

.richtext ol > li { list-style-type: none; }

.richtext ol > li:before { left: -30px; left: -1.66667rem; counter-increment: ol--counter; content: counter(ol--counter) "."; text-align: right; width: 4ex; }

.ie .richtext ol > li { list-style: decimal inside none; }

.richtext strong { font-weight: bold; }

.richtext a { color: #248abc; }

.richtext a:hover { color: black; }

.t-nowrap { white-space: nowrap; }

.t-hyphenate { -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }

/* stylelint-disable selector-no-qualifying-type */
html.js .is-hidden-js { display: none !important; }

html.no-js .is-visible-js { display: none !important; }

/* stylelint-enable */
@media (min-width: 1201px) { .is-hidden-desktop { display: none !important; }
  .is-visible-tablet { display: none !important; } }

@media (max-width: 1200px) { .is-visible-desktop { display: none !important; }
  .is-hidden-tablet { display: none !important; } }

@media (min-width: 1001px) { .is-visible-tablet-portrait { display: none !important; } }

@media (max-width: 1000px) { .is-hidden-tablet-portrait { display: none !important; } }

@media (min-width: 751px) { .is-visible-mobile { display: none !important; } }

@media (max-width: 750px) { .is-hidden-mobile { display: none !important; } }

@media (min-width: 401px) { .is-visible-mobile-portrait { display: none !important; } }

@media (max-width: 400px) { .is-hidden-mobile-portrait { display: none !important; } }

@media only screen { .is-visible-print { display: none !important; } }

@media print { .is-hidden-print { display: none !important; } }

body:after { display: none; content: 'desktop'; }

@media (max-width: 1200px) { body:after { content: 'tablet'; } }

@media (max-width: 1000px) { body:after { content: 'tablet-portrait'; } }

@media (max-width: 750px) { body:after { content: 'mobile'; } }

@media (max-width: 400px) { body:after { content: 'mobile-portrait'; } }

.media-dispatcher-fallback { display: none; margin-bottom: 0px; }

@media (max-width: 1200px) { .media-dispatcher-fallback { margin-bottom: 1px; } }

@media (max-width: 1000px) { .media-dispatcher-fallback { margin-bottom: 2px; } }

@media (max-width: 750px) { .media-dispatcher-fallback { margin-bottom: 3px; } }

@media (max-width: 400px) { .media-dispatcher-fallback { margin-bottom: 4px; } }

body:before { display: none; content: ''; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { body:before { content: 'retina'; } }

img[data-sizes] { width: 100%; }

[data-sizes], .Image { background-size: cover; background-repeat: no-repeat; background-position: center center; }

.Image { position: relative; overflow: hidden; background-color: #999; }

.Image > [data-sizes] { background-size: inherit; background-repeat: inherit; background-position: inherit; display: block; transform: scale(1.02); opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.Image > .is-loaded { opacity: 1; transform: none; transition: opacity 0.5s, transform ease-out 0.8s; }

input, textarea { padding: 5px; border: 1px solid #aaa; font-size: 16px; }

input:focus, textarea:focus { border-color: #000; }

select { padding: 5px; border: 1px solid #aaa; }

.FormInput { display: block; margin-bottom: 1.5ex; }

.FormInput > label { display: block; margin-bottom: 0.2ex; }

.Footer { background: black; color: white; }

.Header { background: blue; color: white; }

.is-hidden { display: none !important; }

.is-disabled, *[disabled] { opacity: 0.5; pointer-events: none; }
