---
title: Homepage
---

extends /layout/default


block body
	h1.h1= title
	p= url_for('/action')
	p= slug('Whatever you want')


	+Paragraph
		| Blog Posts

	ul
		each post in collections.posts
			li
				a(href= post.url)= post.data.pageTitle


	+Paragraph({variant: 'happy'})
		| What a shitty shit.

	+Paragraph({ variant: 'sad' })
		| This is sad.

	article(data-message)
	article(data-navigation)
